<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-header">
  <div class="container-fluid">
    <div class="col-sm-2 px-0" style="width:50px">
      <img class="img" src="/assets/images/site-greeting/truepositive_logo_light.png" width=50 height="auto">
    </div>
    <div class="col-sm-1 px-0">
      <h4 class="navbar-brand " href="#">True Positive</h4>
    </div>
    <div style="border-0">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><span style="font-size:125%">Home</span><span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item dropdown"> -->
      <!--   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
      <!--     Free Courses -->
      <!--   </a> -->
      <!--   <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
      <!--     <a class="dropdown-item" href="#">Docker</a> -->
      <!--     <a class="dropdown-item" href="#">Fatfree PHP Framework</a> -->
      <!--     <div class="dropdown-divider"></div> -->
      <!--     <a class="dropdown-item" href="#">Programming Trends</a> -->
      <!--   </div> -->
      <!-- </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/references"><span style="font-size: 125%">References</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><span style="font-size: 125%">About</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- Freshchat -->
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "e3f03632-9d6f-4467-9352-64d187a66ab7",
      host: "https://wchat.eu.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.eu.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
<!-- End Freshchat -->
