<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"> -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container" style="border:thin">
    <div class="col-sm-1 px-0" style="border:thin">
      <img src="/assets/images/site-greeting/truepositive_logo.png" class="img-fluid" width=50 height="auto">
      <a class="navbar-brand" href="#">truepositive.hu</a>
    </div>
    <div align="right" style="border:thin">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item dropdown"> -->
      <!--   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
      <!--     Free Courses -->
      <!--   </a> -->
      <!--   <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
      <!--     <a class="dropdown-item" href="#">Docker</a> -->
      <!--     <a class="dropdown-item" href="#">Fatfree PHP Framework</a> -->
      <!--     <div class="dropdown-divider"></div> -->
      <!--     <a class="dropdown-item" href="#">Programming Trends</a> -->
      <!--   </div> -->
      <!-- </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="/references">References</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
